@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
    background-color: lightblue;
    font-family: 'Roboto Mono', monospace;
    
}
#wetPIcont {
    background-color: white;
}
#selectCity {
    height: 0.7cm;
}
