@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
    background-image: url("https://www.freevector.com/uploads/vector/preview/19766/8-06.jpg");
    font-family: 'Roboto Mono', monospace;
    
}
#wetPIcont {
    background-color: white;
    padding: 1cm;
}
#selectCity {
    height: 0.7cm;
    
}
#userCity {
    border-color: lightblue; 
    border-style: solid;
    border-right: none;
}
#apiS {
    height: 0.8cm;
}
