@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
    background-image: url("https://www.freevector.com/uploads/vector/preview/19766/8-06.jpg");
    font-family: 'Roboto Mono', monospace;
    
}
#wetPIcont {
    background-color: white;
}
#selectCity {
    height: 0.7cm;
}
